<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency Conversion!</title>
</head>
<body>
    <section>
        <form id="forex" action="/conversion/new" method="POST">
            <input type="text" name="convertFrom" placeholder="Convert from...">
           
            <input type="text" name="convertTo" placeholder="Convert To...">
            <input type="number" name="value" placeholder="amount">
            <button>Convert</button>
        </form>
    </section>
    <section id="convertedCurrency">
        <div>
            <h1>
                Give me something to convert!
            </h1>
            {% block invalidFrom %}{% endblock %}
            {% block convertedCurrency %}
            {% endblock %}
        </div>
    </section>
</body>
</html>